<footer>
  <div class="location">
    <p>
      <strong>Location</strong>
      <br>
      153 E 4370 S #18
      <br>
      Salt Lake City, UT 84107
      <br>
      801.263.0404
    </p>
  </div>

  <div class="hours">
    <p>
      <strong>Hours</strong>
      <br>
      Monday - Saturday
      <br>
      9am - 7pm
    </p>
  </div>

  <div class="sns"><p><strong>Follow us!</strong></p><span class='facebook'><a href="https://www.facebook.com/moonbakeryutah/"><img src="image/facebook1.png"></a></span> <span class="instagram"><a href="https://www.instagram.com/moonbakeryutah/"><img src="image/insta.png"></a></span><br><input class='newsletter' ng-model="newEmail" placeholder="stay in touch!"> <button class='submit' ng-click='addEmail(newEmail);newEmail=""'><p>Submit</p></button>
  </div>

</footer>
