<div class="modal" ng-show='modalShown'>
  <div class="overlay" ng-click='toggleModal()'></div>
  <div class="dialog">
    <div class="modalClose" ng-click='toggleModal()'><img src="../image/x.png"></div>
    <div class="modalContent" ng-transclude></div>
        <div class='modalProductInfo'>
          <br>
          <h2>{{pro.name}}</h2>
          <br>
          <br>
          <img src='{{pro.image}}'>
          <br>
          <br>
          <h3><strong>Discription</strong></h3>
          <p>{{pro.discription}}</p>
        </div>
  </div>
</div>
